*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Aref Ruqaa', serif;
font-family: 'Borel', cursive;
font-family: 'Marhey', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Rubik', sans-serif;
text-decoration:none ;
list-style: none;
direction: rtl;
scroll-behavior: smooth;
}

body{
    background: black;

    /* بعملها لم احب اخلي صورة شفافة */
    color: white;
   
}

header{
    width: 100%;
    height: 186vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.300),rgba(0, 0, 0, 0.300)),url(shopping-trolleys-with-red-blue-handles-photo-frame.jpg);
    background-size: cover;
    background-position:top;
}

.container{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}






/*  */
nav ul li{
       margin: 10px;
    margin-right: 21px;
   display:inline-block;
   font-size: 16px;
}
a{
    color:  #ffffff ;
    border-bottom: 2px solid transparent;
}
.nau a:hover{
    border-bottom-color: #ff0000;

}

.containe{
width: 900px;
    margin: auto;
    transition: 0.5s;
}
/*  */


/* تخصيص شكل الورقة */
.containe .paper {
    background-color: #0000002a; /* لون الخلفية */
    width: 180px; /* العرض */
    height: 420px;
    padding: 20px; /* الهوامش الداخلية */
    border: 3px ridge #dea881; /* حدود */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* ظل */
    border-radius: 5px; /* زاوية الزوايا */
    color: white;
    position: relative;
    left: 180px;
    top: 30px;
}

.pin{
width: 20px;
height: 20px;
position: relative;
left: 20px;
bottom: 20px;
}

/* تخصيص الخطوط والنص داخل الورقة */
.paper h1 {
    font-size: 20px; /* حجم الخط للعنوان */
    margin-bottom: 10px; /* هامش أسفل العنوان */
    position: relative;
    left: 10px;
    bottom: 10px;
}

.paper p {
    font-size: 16px; /* حجم الخط للنص */ 
    line-height: 1.5; /* ارتفاع السطر */
    width: 145px;
    text-align: start;
    position: relative;
    left: 10px;
}



.containe .ame{
    text-align: center;
    position: relative;
    bottom: 375px;
    right: 250px;
   font-size: 25px;
   width: 200px;
}

/*  */
.containe .shopping{
    position: relative;
    text-align: right;
}
.containe .shopping img{
    width: 50px;
    transition: 1.1s ease;
}
.containe .shopping img:hover{
    transform: rotate(10deg);
}

.containe .sgi{
    width: 100px;
    height: 100px;
    margin: auto;
    position: relative;
    right: 480px;
    cursor: pointer;
    bottom: 455px;
}

.containe .shopping span{
    background-color: orangered;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e0f8f8;
    position: absolute;
    bottom: 525px;
    left: 410px;
    padding: 3px 10px;
}



/*  */

/* تصميم النافذة المنبثقة بشكل أفقي */
.popup {
    display: none;
    position: relative;
    bottom: 460px;
    right: 62px;
    width: 720px;
    height: 82vh;
    box-shadow: 0 0 30px black;
    z-index: 0;
    transition: 0.5s;
}



.popup .you{
    text-align: center;
    position: relative;
    top: 0px;
    right: 250px;
}

.popup-content {
    padding: 20px;
    border-radius: 10px;
    max-width: 30%;
    max-height: 500%;
    position: relative;
    display: flex; /* تحديد اتجاه العناصر بشكل عمودي داخل النافذة */
    flex-direction: column; /* تحديد اتجاه العناصر بشكل عمودي داخل النافذة */
    align-items: center; /* توسيط العناصر أفقيًا */
    justify-content: center; 
}

/* تصميم زر الإغلاق وزر الشراء بشكل أفقي */
.close, #purchase-btn {
    width: 100%; /* تمديد الأزرار على العرض الكامل للنافذة */
    text-align: start;
}

.close {
    font-size: 24px;
    color: #ffffff;
    cursor: pointer;
}




.bla{
    width: 100%; /* يمكنك تغيير هذا الرقم إلى العرض الذي تريده بناءً على نسبة مئوية أو قيمة محددة بالبكسل */
    height: 2px; /* يمكنك تحديد سمك الخط حسب الحاجة */
    background-color: #ffffff; /* لون الخط */
    margin: 15px auto; /* لتوسيط الخط بشكل أفقي */
    border: none; /* لإزالة أي حدود إضافية إذا كان هناك */
    position: relative;
   bottom: 300px;
   right: 500px;
}
/*  */

.cart-details {
    list-style: none;
    padding: 0;
}

.cart-details li {
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc; /* تقسيم بين التفاصيل */
    padding-bottom: 10px;
}

.cart-details span {
    display: block;
    font-weight: bold;
}


.increase-quantity,
.decrease-quantity {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 5px; /* ترتيب الأزرار */
}

/* تصميم النص الذي يعرض الكمية */
.quantity {
    font-weight: bold;
    color: #ffffff;
    margin: 0 5px; /* ترتيب النص مع الأزرار */
}


/*  */
.total-price-details{
    position: relative;
    bottom: 70px;
    right: 10px;
    width: 100px;
}

.purchase-btn {
    background-color: #930000;
    color: #fff;
    padding: 10px 0; 
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px; 
    text-align: center;
    position: relative;
    bottom: 20px;
    right: 50px;
    width: 150px;
}

.purchase-btn:hover {
   box-shadow: 0 0 20px #e0f8f8;
   transform: scale(1.2);
}


 


/*  */
/*  */

 .pay{
    width: 300px;
    height: 585px;
    background-color: rgba(0, 0, 0, 0.651);
    position: absolute;
    top: 0;
    left: 0px;
    right: 950px;
    bottom: 250px;
    margin: auto;
    padding: 18px 50px;
    margin-top: 85px;
    display: none;
    flex-direction: column;
    box-shadow: 0 0 10px #e0f8f8;
    z-index: 100;
}

.caba{
    display: flex;
    width: 7%;
    height: 7%;
   
}

.ones{
    font-size: 25px;
    color: rgb(255, 0, 0);
}

label{
    font-size: 15px;
    text-align: center;
}

input{
    padding: 2px;
    border: none;
    border-bottom: 2px solid black;
}

input::placeholder{
    color: rgba(0, 0, 0, 0.438);
}

.capm {
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 35px;
    top: 10px;
    text-align: start;
}


.capm input{
    width: 70px;
}

.seop{
    background-color: rgb(153, 12, 12);
    color: wheat;
    padding: 3px;
    margin: 3px;
    width: 130px;
    height: 50px;
    border: none;
    position: relative;
    top: 25px;
    left: 40px;
    cursor: pointer;
    border-radius: 50px;
}


.seom{
    background-color: rgb(153, 12, 12);
    color: wheat;
    padding: 3px;
    margin: 3px;
    width: 125px;
    position: relative;
    right: 115px;
    bottom: 2px;
    height: 50px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}
.seom:hover,
.seop:hover{
    color: #000;
    transform: scale(1.2);
}

.closes{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 15px;
    top: 10px;
   background-color: rgb(153, 12, 12);
   align-items: center;
   display: flex;
   justify-content: center;
   border-radius: 5px;
   font-size: 18px;
}
.closes:hover{
    cursor: pointer;
    color: black;
} 

/*  */




.sec{
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.ho{
    font-size: 22px;
    margin: auto;
    width: 250px;
    padding: 10px 10px;
    color: #e0f8f8;
    border-radius: 50px;
    border: 3px ridge #dea881;
    text-align: center;
}
.ho:hover{
    cursor: pointer;
    box-shadow: 0 0 10px #e0f8f8;
    transform: scale(1.1);
}

.card{
    background-color: #000;
    border-radius: 10px;
    border: 3px ridge #dea881;
    padding: 20px;
    text-align: center;
    margin: 10px;
    position: relative;
    z-index: 0;
    overflow: hidden;
    position: relative;
    top: 20px;
}

.card:hover{
    box-shadow: 0 0 10px #e0f8f8;
}



.card .iml{
    max-width: 100%;
    height: auto;
}
.card .iml img{
    height: 150px;
    width: 140px;
    margin-right: 7px;
    transition: 0.5s ease-in;
   
}
.card .iml img:hover{
    transform: scale(1.1);
}

.titlv {
    font-weight: bold;
    margin: 10px 0;
}

.fox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff0000;
    width: 170px;
}

#cart-icon{
    cursor: pointer;
}
#cart-icon:hover{
    transform: scale(1.2);
}

.btn {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    
}

.btn:hover {
   color: #000;
}

.price{
    color: #ffffff;
    position: relative;
    right: 10px;
   
}

#cart-icon img,
.price  {
    max-width: 150%;
    height: auto;
}

